.App {
  text-align: center;
}
.primary {
  color: #e7dfd1;
}
.secondary {
  color: #d98e74;
}
.tertiary {
  color: #281b11;
}
.primaryBg {
  background: #e7dfd1;
}
.primaryBgb {
  background: #c9c1b1;
}
.secondaryBg {
  background: #d98e74;
}
.tertiaryBg {
  background: #281b11;
}
.shd {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
